# Python
__pycache__/
*.py[codz]
*$py.class
*.so

# Virtual environment
.env
venv/

# Jupyter
.ipynb_checkpoints

# IDE
.vscode/
.idea/
tempCodeRunnerFile.py

# Testing
.pytest_cache/
htmlcov/
.coverage

# Project-specific
.streamlit/secrets.toml
vectorstore/
*.pkl
data/raw/*.csv
archive/
src/__init__.py

